<h1>Welcome to Carlos' site</h1>
<p>This is my first experience with Ruby on Rails and Heroku</p>
<p>I got here by following a few tutorials, namely:</p>
<ul>
<li><a href="http://vimeo.com/22353046">RailsInstaller 1.1.1 Demo</a> (up to the EngineYard part, since I'm using Heroku)</li>
<li>If on Windows, you want to download this convenient <a href="http://railsinstaller.org/">bundle Rails Installer</a> before watching the above video</li>
<li><a href="http://guides.rubyonrails.org/getting_started.html">Getting Started with Rails</a> - up to the scaffolding part</li>
</ul>
